<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>parse photo app</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <title>Parse-Photo-App</title>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
      <div class="container">

        <!-- Input -->
        <div class="nav">
          <button><a href="#" class="new">add new image</a></button>
          <div class="add-new-container">
            <input type="file" class="image-upload">
            <input type="text" placeholder="add caption" class="caption-input"></input>
            <button class="save-file">Save</button>
          </div>
        </div>

        <!-- Template render -->
        <div class="view-container">
          <div class="card-view-append"></div>
          <div class="detail-view-append"></div>
        </div>
      </div>

      <canvas id="c"></canvas>
        <!-- Templates -->

        <!-- Why do I need "attributes" here and not in detail-view? -->
        <script type="text/template" class="card-view-instance">
          <div class="card-view-container">
            <a href="#detail/<%= id %>"><img src="<%= attributes.image %>" class="card-image details"></a>
            <p><%= attributes.caption %></p>
          </div>
        </script>

        <script type="text/template" class="detail-view-instance">
          <div class="detail-view-container">
            <img src="<%= image %>" id="detail-image">
            <p><%= caption %></p>
            <a href="#"><button class="close-detail-view">Close</button></a>
          </div>
        </script>
        

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/underscore/underscore.js"></script>
        <script src="scripts/fabric.js-1.4.7/dist/fabric.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script src="//www.parsecdn.com/js/parse-1.2.18.min.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/model-collection.js"></script>
        <script src="scripts/view.js"></script>
        <script src="scripts/router.js"></script>
        <!-- endbuild -->
</body>
</html>
